.seccion-destinos {
  padding: 40px;
}
.titulo-destinos {
  font-size: 20px;
  margin-bottom: 16px;
}
.grid-destinos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.tarjeta-destino {
  width: 180px;
  text-align: center;
}
.imagen-destino {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 100px;
  margin-bottom: 6px;
}
.nombre-destino {
  font-size: 14px;
}
